<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Opiquad_Categoriaextra::listing" sortOrder="99" title="CATEGORIE EXTRA" module="Opiquad_Categoriaextra"
             parent="Magento_Catalog::catalog" resource="Opiquad_Categoriaextra::listing" translate="title"
             action="cate/index/index"/>
    </menu>
</config>
